{% extends 'base.html' %} 

{% block content %}

<head>
<title> Adorable Home's Ingredients Collection Page</title>
</head>

<h1>Adorable Home's Ingredients Collection Page</h1>

<h5>Nama: </h5>
<p>{{nama}}</p> 
<h5>Kelas: </h5>
<p>{{kelas}}</p> 

<table>
    <tr>
        <th>New Ingredients</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>
                <a href="{% url 'main:increase_item' item.pk %}">
                    <button>+</button>
                </a>
                <a href="{% url 'main:decrease_item' item.pk %}">
                    <button>-</button>
                </a>
            </td>
            <td>{{item.description}}</td>
            <td>{{item.category}}</td>
            <td>
                <a href="{% url 'main:delete_item' item.pk %}" onclick="return confirm('Are you sure?');">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>


<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Ingredient
    </button>
</a>

<h5>Last time you were logged in: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}